node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Environment
.env
.env.local

# Testing
coverage/
jest-results.json

# Firebase Functions
functions/node_modules/
functions/.runtimeconfig.json

# @generated expo-cli sync
ios/
android/
